

<ion-content>
  <ion-grid id="grid">  
    
    <ion-row class="ion-justify-content-center"><h1 id="title">FoodExplora</h1></ion-row>


    <ion-row id="logo" class="ion-justify-content-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
        <ion-img src="assets/logo-foodexplora.png">          
        </ion-img>
        </ion-col>
      
        <ion-col size="6">
        <ion-button>Iniciar sesion</ion-button>
      </ion-col>
      </ion-row>
    </ion-row>



<ion-row id= "registro" class="ion-justify-content-center" (click)="irARegistrar()" >    
  <ion-label>Registrarse</ion-label>
</ion-row>
</ion-grid>



</ion-content>
