ion-header{
    --ion-background-color: #3f9d2f;
}

ion-button{
    color: white;
    --background:  #67C657;
    margin-top: 15px;
}

.title{
    margin-top: 15px;
    margin-bottom: 15px;
    color:#3f9d2f;
    text-decoration: underline;
}


#agg{
    margin-top: 15px;
    --background: #67C657;
  }

ion-input{
    border-radius: 10px;
    margin-bottom: 10px;
    color: #3f9d2f;
    border: solid 2px #3f9d2f;
    
    --placeholder-opacity: 1;
}