h3{
    color: #67C657;
    text-align:center;
    margin:0px;
}

ion-label{
    text-align: justify;
    text-justify: inter-word;
    
}

#text{
    margin-bottom: 15px;
}

#button{
    padding: 0px;
    ion-col{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}